.header-title {
    margin-bottom: 0.5em;
    color: rgba(0, 0, 0, 0.666);
    /* font-weight: 600; */
    font-size: 24px;
}

.footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* AppFooter.css */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.attentionButton {
    animation: pulse 1s infinite;
    transition: transform 0.2s;
}

.layout {
    min-height: 100vh;
}



.ant-btn-link {
    transition: opacity 0.2s, font-weight 0.2s;
  }
  .ant-btn-link:hover {
    font-weight: bold;
    /* opacity: 0.5; */
  }
  
  
  
  .is-bt-actif {
    font-weight: bold;
    text-decoration: underline;
    transition: opacity 0.2s;
  }
  .is-bt-actif:hover {
    opacity: 0.75;
  }